body{
	background-color: #252525;
	margin: 0;
}
div{
	display: inline-block;
}
li{
	list-style-type: none;
}
.header a{
	text-decoration: none;
	color: white;
}
.header{
	position: fixed;
	width: 100%;
	z-index: 10;
}
.head_text{
	padding-right: 2%;
}
.top{
	margin:13px;
	color: white;
	display: inline-block;
	font-family: 'bebas_neuebook';
	font-size: 27px;/*150%*/
}
.logo{
	margin-right: 30%;
}
.logo img{
	width: 100px; /*15%*/
}
.search{
	position:relative;
	bottom: 5px;
}
.search input{
  width: 150px;
  height: 25px;
  border: 0px solid #252525;
  border-radius: 15px;
  font-size: 15px;
  text-align: left;
  background-color: #252525;
  background-image:url('img/search_icon.png');
  background-size: 5%;
  background-position:12px 10px; 
  background-repeat: no-repeat;
  padding-left: 10%;
  opacity: 0.6;
  outline: none;
  padding-left: 25px;
 }
 .searchbar:focus{
 	opacity: 1;
 }
.searchbar:focus::-webkit-input-placeholder{ /*Chrome/Opera/Safari*/
	color: #525252;
}
.searchbar::-webkit-input-placeholder{ /*Chrome/Opera/Safari*/
	color: black;
}
.searchbar::-moz-placeholder{ /*Firefox 19+*/
	color: black;
}
.login{
	position:relative;
	bottom: -5px;

}
.login img{
	width: 30px;
}




.list{
	margin-top: 100px;
}
.list li{
	background-color: #101010;
	border-bottom:2px solid #252525;
	margin-left: 5%;
	margin-right: 5%;
}
.li-1{
	border-top-right-radius: 80px;
}
.li-3{
	border-bottom-left-radius: 80px;
}
.category img{
	width: 170px;
	margin: 10px;
}
.list_text-1,.list_text-2,.list_text-3{
	width: 50%;
	color: white;
	position: relative;
	top: -50px;
	left: 40px;
	font-family: Arial;


}
.list_img-1 img,.list_img-2 img,.list_img-3 img{
	border-right: 1px solid #252525;
	padding: 20px;
}
.category{
	display: inline-block;
}
.button{
	position: relative;
	right: -9%;
	bottom: 100px;
}
.button button{
	width: 150px;
	height: 50px;
	background-color: #101010;
	border:1px solid white;
	color: white;
	outline:none;
	cursor: pointer;
}
.button button:active{
	background-color: white;
	color: #101010;
}






.footer{
	width: 100%;
}
.footer a{
	text-decoration: none;
	color: white;
}
.navigation{
	padding: 50px 0 50px 20%;
}
.signup{
	padding: 50px 0 50px 30%;
}
.footer_up{
	padding-top: 10px;
}
.footer_up img{
	width: 15px;
}
.footer_head_text{
	color: white;
	font-family: Arial;
	font-size: 20px;
	padding-bottom: 7px;
}
.footer_media{
	margin-top: 10px;
	margin-bottom: 0;
}
.footer_social,.copyright{
	display: inline-block;
	vertical-align: middle;
}
.copyright{
	color: white;
	margin-left: 10px;
	font-family: Arial;
	font-size: 15px;
}
.footer_social img{
	width: 25px;
}
.footer_input input{
	height: 35px;
	box-sizing: border-box;
	padding-left: 10px;
	outline: none;
}
.footer_input button{
	margin-left: 10px;
	height: 35px;
	border: 3px solid;
	border-color: #ffffff;
	background-color: #252525;
	text-decoration: none;
	color: #ffffff;
	outline: none;
	cursor: pointer;
	font-family: Arial;
}
.footer_input button:active{
	border: 3px solid;
	background-color: white;
	color: #252525;
	font-weight: bold;
	font-family: Arial;
}